header {
    display: flex;
    justify-content: space-between;
}

header button {
    border: none;
    background: transparent;
    color: black;
}

.banner {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

button {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 10px 20px;
    border-radius: 16px;
}

button:hover {
    background-color: rgb(131, 130, 130);
}

.container {
    width: 800px;
    margin: 20vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

}

.container h2 {
    color: rgb(0, 0, 0);
    font-size: 3.5vw;
}


#choices {
    font-size: 1.2vw;
    width: 30vw;
}

