header, footer{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;

}

header button {
    color: white;
}

.banner {
    width: 50vw;
    /* height: 30vw; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: beige;
    text-align: center;
    align-items: center;
}

.banner p {
    width: 30vw;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    padding: 5vw;
    font-size: 1vw;
    line-height: 2em;
    
}


button {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 10px 20px;
    padding: 10px;
    text-align: start;
    width: 12vw;
    border-radius: 20px;
    text-align: center;
}

button:hover {
    background-color: rgb(44, 93, 229);
}

.container {
    width: 50vw;
    height: 40vh;
    margin: 20vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    text-align: center;

}

.container h2 {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    display:flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    flex-direction: column;
    align-content:flex-start;
}


#choices {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    width: 26vw;
    align-items: center;
}


.playerData {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.playerData label {
    font-weight: bold;
}

form {
    display: block;

}


.scoresList {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    list-style-type: none;
    font-size: 1.2em;
}
